<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>

            <form *ngIf="signUpForm" [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="signUp">

              <div>
                <label for="profilePictureUrl">Profil Resmi URL'si:</label>
                <input id="profilePictureUrl" type="text" formControlName="profilePictureUrl" placeholder="Resim URL'si girin">
                <div *ngIf="signUpForm?.get('profilePictureUrl')?.invalid && signUpForm?.get('profilePictureUrl')?.touched">
                  Profil resmi URL'si gerekli.
                </div>
              </div>

              <div class="form-group">
                <input type="file" (change)="onFileSelected($event)" accept="image/*">
                <img *ngIf="previewUrl" [src]="previewUrl" Name="previewUrl" alt="Seçilen Resim" width="150">
                <button (click)="uploadFile()">Upload</button>
              </div>
              <!-- Name Field -->
              <div class="form-group">
                <input formControlName="name" type="text" class="form-control form-control-user"
                       id="exampleInputName" placeholder="Enter Name" />
                <div *ngIf="signUpForm.get('name')?.invalid && signUpForm.get('name')?.touched" class="text-danger">
                  <small *ngIf="signUpForm.get('name')?.errors?.['required']">Name is required.</small>
                </div>
              </div>

              <!-- Surname Field -->
              <div class="form-group">
                <input formControlName="surname" type="text" class="form-control form-control-user"
                       id="exampleInputSurname" placeholder="Enter Surname" />
                <div *ngIf="signUpForm.get('surname')?.invalid && signUpForm.get('surname')?.touched" class="text-danger">
                  <small *ngIf="signUpForm.get('surname')?.errors?.['required']">Surname is required.</small>
                </div>
              </div>

              <div class="form-group">
                <input formControlName="email" type="email" class="form-control form-control-user"
                       id="exampleInputEmail" placeholder="Enter Email Address..." />
                <div *ngIf="signUpForm?.get('email')?.invalid && signUpForm?.get('email')?.touched" class="text-danger">
                  <small *ngIf="signUpForm?.get('email')?.errors?.['required']">Email is required.</small>
                  <small *ngIf="signUpForm?.get('email')?.errors?.['email']">Please enter a valid email.</small>
                </div>
              </div>

              <div class="form-group">
                <input formControlName="password" type="password" class="form-control form-control-user"
                       id="exampleInputPassword" placeholder="Password" />
                <div *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched" class="text-danger">
                  <small *ngIf="signUpForm.get('password')?.errors?.['required']">Password is required.</small>
                  <small *ngIf="signUpForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
                </div>
              </div>

              <div class="form-group">
                <input formControlName="confirmPassword" type="password" class="form-control form-control-user"
                       placeholder="Confirm Password" />
                <div *ngIf="signUpForm.get('confirmPassword')?.invalid && signUpForm.get('confirmPassword')?.touched" class="text-danger">
                  <small *ngIf="signUpForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required.</small>
                  <small *ngIf="signUpForm.get('confirmPassword')?.errors?.['mismatch']">Passwords must match.</small>
                </div>
              </div>

              <div class="form-group">
                <input formControlName="phone" type="text" class="form-control form-control-user"
                       placeholder="Phone Number" />
                <div *ngIf="signUpForm.get('phone')?.invalid && signUpForm.get('phone')?.touched" class="text-danger">
                  <small *ngIf="signUpForm.get('phone')?.errors?.['required']">Phone number is required.</small>
                  <small *ngIf="signUpForm.get('phone')?.errors?.['pattern']">Please enter a valid phone number.</small>
                </div>
              </div>

              <button class="btn btn-primary btn-user btn-block" type="submit" [disabled]="signUpForm.invalid">Kaydol</button>

              <hr>
              <a href="index.html" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Login with Google
              </a>
              <a href="index.html" class="btn btn-facebook btn-user btn-block">
                <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
              </a>
            </form>

            <hr>
            <div class="text-center">
              <a class="small" href="forgot-password.html">Forgot Password?</a>
            </div>
            <div class="text-center">
              <a class="small" href="login.html">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
