<!-- Page Wrapper -->
<div id="wrapper">
  <app-menu></app-menu>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

        <app-search-bar></app-search-bar>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>

          <!-- Alerts Dropdown -->
          <li  *ngIf="authService.isUser()"  class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell fa-fw"></i>
              <!-- Counter - Alerts -->
              <span *ngIf="hedefler.length > 0" class="badge badge-danger badge-counter">
                {{ hedefler.length + tarih.length }}+
              </span>
            </a>
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">Bildirimler</h6>

              <!-- Tasarruf Bildirimleri -->
              <div *ngFor="let hedef of hedefler">
                <a class="dropdown-item d-flex align-items-center" [routerLink]="['/saving']">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <span class="text-white" style="font-size: 24px;">🥳</span>
                    </div>
                  </div>
                  <div>
                    <div class="small text-500" style="color: #FF6347; font-weight: bold;">{{ hedef.goalName }}</div>
                    <span class="font-weight-bold">{{ hedef.goalName }} için hedefe çok az kaldı: ₺{{ hedef.goalAmount - hedef.savedAmount }}</span>
                  </div>
                </a>
              </div>

              <!-- Tarih Bildirimleri -->
              <div *ngFor="let tt of tarih">
                <a class="dropdown-item d-flex align-items-center" [routerLink]="['/budget']">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <span class="text-white" style="font-size: 24px;">🎯</span>
                    </div>
                  </div>
                  <div>
                    <div class="small text-500" style="color: #FF6347; font-weight: bold;">
                      Ayrılan Bütçe Miktarı: ₺{{ tt.amount }}
                    </div>
                    <span class="font-weight-bold">
                      Bu tarih için {{ tt.amount }}₺ bütçe ayırmıştınız: {{ tt.endDate | date: 'dd/MM/yyyy'  }} tarihi geldi!
                    </span>
                  </div>
                </a>
              </div>
              <a class="dropdown-item text-center small text-gray-500" href="#">Tüm Bildirimleri Göster</a>
            </div>
          </li>

          <!-- Nav Item - Messages -->
          <li   *ngIf="authService.isUser()" class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-envelope fa-fw"></i>
              <!-- Counter - Messages -->
              <span *ngIf="categories.length > 0"
                    class="badge badge-danger badge-counter">
                + {{ categories.length }}
              </span>

            </a>

            <!-- Dropdown - Messages -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
              <h6 class="dropdown-header">Harcama Oranları</h6>

              <!-- Kategorileri listeliyoruz -->
              <div *ngFor="let category of categories">
                <a class="dropdown-item d-flex align-items-center" >
                  <div class="dropdown-list-image mr-3">
                    <i class="fas fa-exclamation-triangle text-danger fa-2x text-white"></i>
                    <!-- Kategorinin durumunu göstermek için renkli çubuk -->
                    <div class="status-indicator" [ngClass]="{'bg-success': category.isHighPercentage, 'bg-primary': !category.isHighPercentage}"></div>
                  </div>

                  <div class="font-weight-bold">
                    <!-- Kategori adı ve yüzdesi -->
                    <div class="text-truncate">{{ category.categoryName }} - {{ category.percentage | number:'1.2-2' }}%</div>

                    <!-- Yüksek yüzde durumu -->
                    <div class="small text-gray-500" *ngIf="category.isHighPercentage">Yüksek Yüzde!</div>
                  </div>
                </a>
              </div>

              <!-- "Daha Fazla Mesaj Oku" linki -->
              <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
            </div>
          </li>

          <!--<div class="topbar-divider d-none d-sm-block"></div>-->
          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <!--<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Esmanur OYANIK</span>
    <img class="img-profile rounded-circle" src="./assets/img/unnamed.jpg">
  </a>-->

            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                <!--{{userProfileDetail.name}} 
                {{userProfileDetail.surname}}-->
              </span>
              <!-- Profil fotoğrafını dinamik olarak bağlayacağız -->
              <img class="img-profile rounded-circle" [src]="userProfileDetail.profilePictureUrl" alt="User Profile Picture">
            </a>

            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" [routerLink]="['/userProfile']">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Settings
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Activity Log
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>

        </ul>

      </nav>
      <!-- End of Topbar -->
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Esma Nur OYANIK Website 2025</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>
