<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tasarruf Yönetimi</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #f8f9fc;
    }

    .card-header {
      background-color: #4e73df;
      color: white;
    }

    .table th {
      background-color: #e9ecef;
    }

    .badge {
      font-size: 0.9rem;
    }
  </style>
</head>
<body>
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid">
          <h1 class="h3 mb-4 text-gray-800">Tasarruf Yönetimi</h1>

          <!-- Tasarruf Ekleme Formu -->
          <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h5>Tasarruf Ekle</h5>
              <i class="fas fa-plus-circle"></i>
            </div>
            <div class="card-body">
              <form (ngSubmit)="onSubmit(savingForm)" #savingForm="ngForm">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="goalName">Hedef Adı</label>
                    <input type="text" class="form-control" id="goalName" [(ngModel)]="goalName" name="goalName" placeholder="Hedef adı girin" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="goalAmount">Hedef Miktarı (₺)</label>
                    <input type="number" class="form-control" id="goalAmount" [(ngModel)]="goalAmount" name="goalAmount" placeholder="Hedef miktarını girin" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="savedAmount">Biriktirilen Miktar (₺)</label>
                    <input type="number" class="form-control" id="savedAmount" [(ngModel)]="savedAmount" name="savedAmount" placeholder="Biriktirilen miktarı girin" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="targetDate">Tamamlanma Tarihi</label>
                    <input type="date" class="form-control" id="targetDate" [(ngModel)]="targetDate" name="targetDate" required>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Ekle</button>
              </form>
            </div>
          </div>

          <!-- Geçmiş Tasarrufları Görüntüleme -->
          <div class="card mb-4">
            <div class="card-header">
              <h5>Geçmiş Tasarruflar</h5>
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                   
                    <th>Hedef Adı</th>
                    <th>Hedef Miktarı</th>
                    <th>Biriktirilen Miktar</th>
                    <th>Hedef Tarihi</th>
                    <th>Durum</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let hedef of hedefler">
                  
                    <td>{{ hedef.goalName }}</td>
                    <td>{{ hedef.goalAmount }}</td>
                    <td>{{ hedef.savedAmount }}</td>
                    <td>{{ hedef.targetDate  | date: 'yyyy-MM-dd' }}</td>
                    <td>
                      <a class="btn btn-warning btn-sm" (click)="savingUpdate(hedef.id, hedef)">Güncelle</a>
                      <!--<button class="btn btn-danger btn-sm" >Sil</button>-->
                      <!--<button class="btn btn-danger btn-sm" (click)="deleteHedef(hedef.id)">Sil</button>-->
                      <!--<button class="btn btn-danger btn-sm" (click)="deleteHedef(hedef.id)">Sil</button>-->
                      <button class="btn btn-danger btn-sm" [routerLink]="['/savingDelete', hedef.id]">Sil</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Güncelleme Formu -->
          <div *ngIf="isUpdateFormVisible">
            <h5>Hedef Güncelle</h5>
            <form>
              <div class="form-group">
                <label for="updateGoalName">Hedef Adı</label>
                <input type="text" class="form-control" id="updateGoalName" [(ngModel)]="selectedHedef.goalName" name="goalName" required>
              </div>
              <div class="form-group">
                <label for="updateGoalAmount">Hedef Miktarı (₺)</label>
                <input type="number" class="form-control" id="updateGoalAmount" [(ngModel)]="selectedHedef.goalAmount" name="goalAmount" required>
              </div>
              <div class="form-group">
                <label for="updateSavedAmount">Biriktirilen Miktar (₺)</label>
                <input type="number" class="form-control" id="updateSavedAmount" [(ngModel)]="selectedHedef.savedAmount" name="savedAmount" required>
              </div>
              <div class="form-group">
                <label for="updateTargetDate">Tamamlanma Tarihi</label>
                <input type="date" class="form-control" id="updateTargetDate" [(ngModel)]="selectedHedef.targetDate" name="targetDate" required>
              </div>
              <!-- Güncelleme Formu -->
              <div *ngIf="isUpdateFormVisible">
                <h5>Hedef Güncelle</h5>
                <form (ngSubmit)="onUpdate(updateForm)" #updateForm="ngForm">
                  <div class="form-group">
                    <label for="updateGoalName">Hedef Adı</label>
                    <input type="text" class="form-control" id="updateGoalName" [(ngModel)]="selectedHedef.goalName" name="goalName" required>
                  </div>
                  <div class="form-group">
                    <label for="updateGoalAmount">Hedef Miktarı (₺)</label>
                    <input type="number" class="form-control" id="updateGoalAmount" [(ngModel)]="selectedHedef.goalAmount" name="goalAmount" required>
                  </div>
                  <div class="form-group">
                    <label for="updateSavedAmount">Biriktirilen Miktar (₺)</label>
                    <input type="number" class="form-control" id="updateSavedAmount" [(ngModel)]="selectedHedef.savedAmount" name="savedAmount" required>
                  </div>
                  <div class="form-group">
                    <label for="updateTargetDate">Tamamlanma Tarihi</label>
                    <input type="date" class="form-control" id="updateTargetDate" [(ngModel)]="selectedHedef.targetDate" name="targetDate" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Güncelle</button>
                  <button type="button" class="btn btn-secondary" (click)="isUpdateFormVisible = false">İptal</button>
                </form>
              </div>
              <button type="submit" class="btn btn-primary">Güncelle</button>
              <button type="button" class="btn btn-secondary">İptal</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
