<div class="row">
  <!-- Toplam Kullanıcı Sayısı Kartı -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
              Toplam Kullanıcı Sayısı
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ totalUsers }} Kullanıcı
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-users fa-2x text-dark"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Toplam Admin Sayısı Kartı -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Toplam Admin Sayısı
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              2 Admin
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-user-shield fa-2x text-dark"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Toplam Puan Sayısı Kartı -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              Toplam Puan Sayısı
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
             100 Puan
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-star fa-2x text-dark"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
