  <style>
    body {
      background-color: #f8f9fc;
    }

    .card-header {
      background-color: #4e73df;
      color: white;
    }

    .table th {
      background-color: #e9ecef;
    }

    .badge {
      font-size: 0.9rem;
    }
  </style>

  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid">
          <div class="card mb-4">
            <div class="card-header">
              <h5>Geçmiş Gelir-Giderler</h5>
            </div>
            <div class="card-body">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th> ID</th>
                    <th>Kategori ID</th>
                    <th>Miktar (₺)</th>
                    <th>Başlangıç Tarihi</th>
                    <th>Bitiş Tarihi</th>
                    <th>İşlemler</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.categoryID }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.startDate | date }}</td>
                    <td>{{ item.endDate | date }}</td>
                    <td>
                      <a id="cursorButon" class="badge badge-success" (click)="budgetUpdate(item.id, item)">Güncelle</a>
                      &nbsp;
                      <a id="cursorButon"class="badge badge-danger" [routerLink]="['/budgetDelete', item.id]"> Sil </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
