<style>
  body {
    background-color: #f8f9fc;
  }

  .card-header {
    background-color: #4e73df;
    color: white;
  }

  .table th {
    background-color: #e9ecef;
  }

  .badge {
    font-size: 0.9rem;
  }
</style>

<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <div class="container-fluid">

        <!-- Budget Form -->
        <div class="card mb-4">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5>Bütçe Ekle</h5>
            <i class="fas fa-plus-circle"></i>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit(budgetForm)" #budgetForm="ngForm">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="categorySelect">Kategori Seçiniz:</label>
                  <select [(ngModel)]="newItem.categoryID" id="categorySelect" name="categoryID" class="form-control" required>
                    <option [value]="0" disabled>Seçiniz...</option>
                    <option *ngFor="let item of filteredCategories()" [value]="item.id">
                      {{ item.categoryName }}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="amount">Bütçe Miktarı (₺)</label>
                  <input type="number" class="form-control" id="amount" [(ngModel)]="newItem.amount" name="amount" placeholder="Bütçe miktarını girin" required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="startDate">Başlangıç Tarihi</label>
                  <input type="date" class="form-control" id="startDate" [(ngModel)]="newItem.startDate" name="startDate" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="endDate">Tamamlanma Tarihi</label>
                  <input type="date" class="form-control" id="endDate" [(ngModel)]="newItem.endDate" name="endDate" required>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Ekle</button>
            </form>
          </div>
        </div>

        <div class="card shadow mb-4" *ngIf="items.length > 0;">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold">Geçmiş Bütçeler</h6>
          </div>
          <div class="card-body">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th scope="col">Kategori Adı</th>
                  <th scope="col">Ayrılan Bütçe (₺)</th>
                  <th scope="col">Başlangıç Tarihi</th>
                  <th scope="col">Bitiş Tarihi</th>
                  <th scope="col">İşlemler</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items">
                  <td>{{ item.categoryName }}</td>
                  <td>{{ item.amount }}</td>
                  <td>{{ item.startDate | date }}</td>
                  <td>{{ item.endDate | date }}</td>
                  <td>
                    <a id="cursorButon" class="btn btn-primary btn-sm" (click)="budgetUpdate(item.budgetId, item)">Güncelle</a>
                    &nbsp;
                    <a id="cursorButon" class="btn btn-danger btn-sm" [routerLink]="['/budgetDelete', item.budgetId]">Sil</a>
                    &nbsp;
                    <button class="btn btn-info btn-sm" (click)="openModal(item)">Tamamlandı</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bütçe İşlemi Bitti.</h5>
        <button type="button" class="close bg-success" (click)="closeModal()" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="accountBankId">Hesap Seçin:</label>
            <select id="accountBankId" name="accountBankId" class="form-control"  [(ngModel)]="selectedBudget.selectedAccountId" required>
              <option *ngFor="let account of accounts" [value]="account.accountID">
                {{ account.bankName }}
                ({{ account.balance }}
                {{ account.currency }} -
                {{ account.accountTypeName }}
                )
              </option>
            </select>
          </div>        
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Kapat</button>
        <button type="button" class="btn btn-primary" (click)="completedBudget(selectedBudget)">Kaydet</button>
      </div>
    </div>
  </div>
</div>
