.prbar-hedef {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: black;
  text-align: end;
  white-space: nowrap;
  background-color: none !important;
  transition: width .6s ease;
  position: relative;
  position: absolute;
  right: 0;

  
}

.currency-prices {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

  .currency-prices h2 {
    color: #333;
  }

#goldPrices {
  margin-top: 10px;
}



.rating {
  font-size: 2rem; /* Yıldız boyutu */
  cursor: pointer;
}

  .rating span {
    color: gray; /* Varsayılan renk */
    transition: color 0.3s; /* Geçiş efekti */
  }

    .rating span.selected {
      color: gold; /* Seçili yıldız rengi */
    }

    .rating span:hover {
      color: gold; /* Üzerine gelindiğinde yıldız rengi */
    }

.btn-primary {
  margin-top: 10px; /* Butonun üst kısmında boşluk */
}







