   <!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Ana Sayfa</h1>
  <a (click)="generatePDFReport()" href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-download fa-sm text-white-50"></i> Generate pdf
  </a>
</div>

<!-- Content Row -->
<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Toplam Bakiyeniz
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{userBalance}} {{currency}}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-dark"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              Toplam Tasarruf
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{savedAmount}} {{currency}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-wallet fa-2x text-dark"></i>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
              Harcanan Butce
            </div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{transactionAmount}} {{currency}}</div>
              </div>

            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calculator fa-2x text-dark"></i>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
              Kalan Butce
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{remainingBudget}} {{currency}}</div>
          </div>
          <div class="col-auto">
            <i class="fas  fa-credit-card fa-2x text-dark"></i>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content Row -->
<div class="row">
  <!-- Area Chart -->

  <div class="col-xl-7 col-lg-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Yıllık Harcamalar</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
               aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <div *ngIf="noDataMessageVisible2; else noDataTemplate2">
        <h3 style="height:350px" class="text-center text-danger  font-weight-bold  full-height d-flex justify-content-center align-items-center">
          Yaptığınız Yıllık Harcamalar Grafikte Görünür.
        </h3>
      </div>
      <ng-template #noDataTemplate2>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <canvas id="myAreaChart"></canvas>
          </div>
        </div>
      </ng-template>

    </div>
  </div>

  <!-- Pie Chart -->
  <div class="col-xl-5 col-lg-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Kategorilere Göre Yıllık Harcamalar</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
               aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <div *ngIf="noDataMessageVisible; else noDataTemplate">
        <h4 style="height:350px" class="text-center text-danger  font-weight-bold  full-height d-flex justify-content-center align-items-center">
          Kategorilere Göre Yaptığınız Yıllık Harcamalar Grafikte Görünür.
        </h4>
      </div>
      <ng-template #noDataTemplate>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-5 pb-5">
            <canvas id="myPieChart"></canvas>
          </div>
          <div class="mt-6 text-center small">
            <br>
            <span *ngFor="let data of chartData" class="mr-2.5">
              <!-- Dinamik olarak icon ve metni göstereceğiz -->
              <!--<i [class]="data.iconClass + ' ' + data.colorClass"></i> {{ data.label }}-->
              <i [class]="data.iconClass" [style.color]="data.color"></i> {{ data.label }}
            </span>

          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<!-- Content Row -->
<div class="row">
  <div class="col-lg-6 mb-4">
    <!-- Tasarruf Hedefleri Kartı -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tasarruf Hedefleri</h6>
      </div>
      <div *ngIf="noDataMessageVisible3; else noDataTemplate3">
        <h4 style="height:350px" class="text-center text-danger  font-weight-bold  full-height d-flex justify-content-center align-items-center">
          Tassarruf Değerleri Grafikte Görünür.
        </h4>
      </div>
      <ng-template #noDataTemplate3>
        <div class="card-body">
          <div *ngFor="let item of dataFive; let i = index">
            <h4 class="small font-weight-bold">
              {{ item.goalName }}
              <span class="float-right">
                {{ calculatePercentage(item.savedAmount, item.goalAmount) }}
              </span>
            </h4>
            <div class="progress mb-4" style="position: relative;">
              <div class="progress-bar"
                   [ngClass]="getProgressBarClass(i)"
                   role="progressbar"
                   [style.width]="calculateProgressBarWidth(item.savedAmount, item.goalAmount) + '%'"
                   [attr.aria-valuenow]="calculateProgressBarWidth(item.savedAmount, item.goalAmount)"
                   aria-valuemin="0"
                   aria-valuemax="100">
                {{ item.savedAmount }} TL
              </div>
              <!-- Hedef Değer -->
              <div class="prbar-hedef">
                {{ item.goalAmount }} TL
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>

    <!-- Puanlama Kartı -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Puanlama</h6>
      </div>
      <div class="card-body text-center">
        <div class="rating">
          <span (click)="rating = 1" [ngClass]="{'selected': rating >= 1}">★</span>
          <span (click)="rating = 2" [ngClass]="{'selected': rating >= 2}">★</span>
          <span (click)="rating = 3" [ngClass]="{'selected': rating >= 3}">★</span>
          <span (click)="rating = 4" [ngClass]="{'selected': rating >= 4}">★</span>
          <span (click)="rating = 5" [ngClass]="{'selected': rating >= 5}">★</span>
        </div>
        <div class="mt-2">
          <button class="btn btn-primary" (click)="updateRating()">Puanı Güncelle</button>
        </div>
        <div *ngIf="thankYouMessage" class="mt-2 text-success">
          Puanlama için teşekkürler!
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-6 mb-4">
    <!-- Döviz Kurları Kartı -->
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex align-items-center">
        <i class="fas fa-coins text-warning mr-2"></i>
        <h6 class="m-0 font-weight-bold text-dark">Döviz Kurları</h6>
      </div>
      <div class="card-body">
        <div *ngFor="let currency of [{name: 'Amerikan Doları (USD)', value: dolarKuru, icon: 'fas fa-dollar-sign text-success'}, {name: 'Euro (EUR)', value: euroKuru, icon: 'fas fa-euro-sign text-primary'}, {name: 'İngiliz Sterlin (GBP)', value: sterlinKuru, icon: 'fas fa-pound-sign text-warning'}, {name: 'İsviçre Frangı (CHF)', value: frangKuru, icon: 'fas fa-money-bill-wave text-danger'}]">
          <div class="d-flex align-items-center mb-3">
            <div class="mr-3">
              <i [class]="currency.icon + ' fa-2x'"></i>
            </div>
            <div>
              <h6 class="font-weight-bold">{{ currency.name }}:</h6>
              <span class="font-weight-bold">{{ currency.value }} Türk Lirası</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



