<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <div class="container-fluid user-list">
        <h2 class="mt-4">Kullanıcı Listesi</h2>

        <div class="card mb-4">
          <div class="card-header">
            <h6 class="m-0 font-weight-bold">Kullanıcı Ekle</h6>
          </div>
          <div class="card-body">
            <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="name">Ad</label>
                <input formControlName="name" type="text" id="name" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="surname">Soyad</label>
                <input formControlName="surname" type="text" id="surname" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="age">Yaş</label>
                <input formControlName="age" type="text" id="age" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="gender">Cinsiyet</label>
                <select formControlName="gender" id="gender" class="form-control" required>
                  <option value="">Cinsiyet seçin</option>
                  <option value="false">Erkek</option>
                  <option value="true">Kadın</option>
                </select>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input formControlName="email" type="email" id="email" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="phone">Telefon</label>
                <input formControlName="phone" type="text" id="phone" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="password">Şifre</label>
                <input formControlName="password" type="password" id="password" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Şifre Onayı</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="profilePicture">Profil Resmi</label>
                <input type="file" id="profilePicture" (change)="onFileSelected($event)">
                <img *ngIf="previewUrl" [src]="previewUrl" alt="Preview" class="img-fluid mt-2" />
              </div>
              <button type="submit" class="btn btn-primary">{{ editingUserId ? 'Güncelle' : 'Ekle' }}</button>
            </form>
          </div>
        </div>

        <!-- Kullanıcılar Tablosu -->
        <div class="card mb-4">
          <div class="card-header">
            <h6 class="m-0 font-weight-bold">Kullanıcılar</h6>
          </div>
          <div class="card-body">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Email</th>
                  <th>Telefon Numarası</th>
                  <th>Ad</th>
                  <th>Soyad</th>
                  <th>Yaş</th>
                  <th>Cinsiyet</th>
                  <th>Profil Resmi</th>
                  <th>İşlemler</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{ user.id }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.phoneNumber }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.surname }}</td>
                  <td>{{ user.age }}</td>
                  <td>{{ user.gender ? 'Kadın' : 'Erkek' }}</td>
                  <td>
                    <img [src]="pictureUrl + user.profilePictureUrl" alt="{{ user.name }}" />
                  </td>
                  <td>
                    <a class="badge badge-success" (click)="userUpdate(user.id, user)">Güncelle</a>
                    <a class="badge badge-danger" [routerLink]="['/userDelete', user.id]">Sil</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
